@model Movie

<div class="d-flex justify-content-between align-items-end">
    <h5 class="my-0 border-bottom border-dark mb-3" style="font-style: italic; font-family: 'Kufam';">Movie: @Model.Name</h5>
</div>

<iframe width="1200" height="700" frameborder="0" src="@Model.UrlVideo" allowfullscreen></iframe>