<div class="d-flex justify-content-between align-items-end">
    <h5 class="my-0" style="font-style: italic; font-family: 'Kufam';">Movies</h5>
    <a class="btn btn-outline-dark" asp-controller="Movie" asp-action="Create" style="font-family: 'Kufam'; font-style: italic;">Create Movie</a>
</div>

<table class="table table-striped table-dark mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Language</th>
            <th scope="col" class="d-flex justify-content-center">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>
                <div class="d-flex flex-wrap justify-content-between">
                    <a style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a style="cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Otto</td>
            <td>
                <div class="d-flex flex-wrap justify-content-between">
                    <a style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a style="cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Otto</td>
            <td>
                <div class="d-flex flex-wrap justify-content-between">
                    <a style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a style="cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Otto</td>
            <td>
                <div class="d-flex flex-wrap justify-content-between">
                    <a style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a style="cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>